*{
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgb(66, 89, 75,0.5),rgb(66, 89, 75,0.5)),url(back.jpg); 
	background-position: center;
	background-size: cover;
	position: relative;
	
}
nav{
	display:flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items:center;
	
}
nav img{
	width: 200px;
	border-radius:20px;
	height: auto;
}

.nav-links{
	flex: 1;
	text-align:right;
}

.nav-links ul li{
	list-style:none;
	display: inline-block;
	padding: 10px 12px; 
	position:relative;
}
.nav-links ul li a {
	color: #ffff;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after{
	content:'';
	width: 0%;
	height:5px;
	background:#ffff;
	display:block;
	margin:auto;
	transition:0.2s;
}
.nav-links ul li:hover::after{
	width:100%
}
.text-box{
	color: #ffff;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align:center;
}
.text-box h1{
	font-size: 60px;
	
}
.text-box p{
	
	margin: 50px;
	font-size: 20px;
}
